
.divider {
  border: none;
  border-top: 1px solid #E2E8F0;
  margin: 20px 0;
}
.divider-vertical {
  width: 1px;
  background-color: #E2E8F0;
  height: auto;
  align-self: stretch;
}
.card {
  
  margin: auto;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.status.active {
  color: #00c776;
  font-weight: 600;
  font-size: 14px;
}

.card-meta {
  display: flex;
  gap: 55px;
  margin-top: 16px;
  font-size: 14px;
}
.meta-block {
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.card-meta a {
  color: #5576e2;
  text-decoration: none;
}
p.due-date {
  all: unset;
  background-color: #FBE9E7;
  color: #FF3D00;
  margin-top:-32px;
  margin-left: 80px;
}
.card-description {
  margin: 20px 0;
  background: #f5f7fa;
  padding: 16px;
  border-radius: 8px;
  font-size: 14px;
  color: #444;
}
.project-id{
  background-color: #E2E8F0;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
.card-footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
}

.support-btn {
  background-color: #f0f4ff;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  color: #2c4ccc;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}
