<header class="header" style="background-image: url('bg_image.png');">
  
    <img src="DashdoxsLogoMain-file_white.png" alt="DancingDoc Logo" class="navbar-logo" />
      <nav class="nav">
      <a href="/" target="_blank" style="cursor: pointer;">Homepage</a>
      <a href="/#how-it-works" target="_blank" style="cursor: pointer;">How it Works</a>
      <a href="/#why-choose-us" target="_blank" style="cursor: pointer;">Why Choose Us</a>
      <a href="/#pricing-plan" target="_blank" style="cursor: pointer;">Pricing Plan</a>
      <a href="/#Contact-us" target="_blank" style="cursor: pointer;">Contact</a>
      
    </nav>
   
    <div class="header-icons">
      <ul>
        <li>
          <i class="material-icons">search</i>
          <hr>
        </li>
        <li>
          <i class="material-icons">notifications_none</i>
          <span class="notification-dot"></span>
          <hr>
        </li>
        <li>
          <i class="material-icons">settings</i>
        </li>
        
      </ul>
      
      
    </div>
    
    
  </header>