<header class="header" style="background-image: url('bg_image.png');">
  
    <img src="logo.png" alt="DancingDoc Logo" class="navbar-logo" />
      <nav class="nav">
      <a href="#">Homepage</a>
      <a href="#">Products</a>
      <a href="#">Contact</a>
      <a href="#">How it Works</a>
    </nav>
   
    <div class="header-icons">
      <ul>
        <li>
          <i class="material-icons">search</i>
          <hr>
        </li>
        <li>
          <i class="material-icons">notifications_none</i>
          <span class="notification-dot"></span>
          <hr>
        </li>
        <li>
          <i class="material-icons">settings</i>
        </li>
        
      </ul>
      
      
    </div>
    
    
  </header>