<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
  <div class="left-panel">
    <div class="branding">
      
      <h1>More Winning, No Hassles! </h1>
    </div>
    <div class="features">
      <div class="feature-box">
        <h3>Collect Documents</h3>
        <p>From known and unknown collaborators worldwide</p>
      </div>
      <div class="feature-box">
        <h3>Seamless Project Management</h3>
        <p>Track, approve, and download documents on a click.</p>
      </div>
      <div class="feature-box">
        <h3>Work in Teams</h3>
        <p>Work in teams of two or more for bigger projects.</p>
      </div>
      <div class="feature-box">
        <h3>Free Submissions</h3>
        <p>Collaborators submit their documents free of any cost.</p>
      </div>
      <div class="feature-box">
        <h3>Security and Privacy</h3>
        <p>Cloud-based secure application for global access and peace of mind</p>
      </div>
    </div>
  </div>

  <div class="right-panel">
    <div class="login-box">
      <a href="/"><img _ngcontent-ng-c2215438375="" src="8cbac377-06cb-4b50-b3ab-c5c763c7a580.png" alt="DashingDox Logo" class="logo1"></a>
      
      
      <div  *ngIf="!showForgotPassword">
      <h2>Welcome Back!</h2>
      <p>New to DashDoxs? <a href="/sign-up">Sign Up</a></p>
      <form #form="ngForm" (ngSubmit)="onLogin(form)">
        <div class="form-row">
        <div class="form-field">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" required email #emailField="ngModel" name="email" (input)="onInputChange()" placeholder="Enter email" />
        <div class="error-message" *ngIf="emailField.invalid && emailField.touched">
          <div *ngIf="emailField.errors?.['required']">Email is required.</div>
          <div *ngIf="emailField.errors?.['email']">Invalid email format.</div>
        </div></div></div>
        <div class="form-row">
        <div class="form-field">        
        <label>Password</label>
        <input matInput [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" (input)="onInputChange()" placeholder="Enter your password" />
        <a (click)="showForgotPassword = true" class="forgot" style="cursor: pointer;">Forgot Password?</a>
        <button type="submit" >Sign In</button></div></div>
      </form>
    </div>
      <div  *ngIf="showForgotPassword">
        <h2>Retrieve Your Password!</h2>
        <ng-container *ngIf="!emailSent; else thankYou">
      <form #form="ngForm" (ngSubmit)="onForgotPassword(form)">
        
        <label>Enter Email</label>
        <input type="email" [(ngModel)]="email" name="email" required email #emailField="ngModel" placeholder="Enter email" />
      <div class="error-message" *ngIf="emailField.invalid && emailField.touched">
        <div *ngIf="emailField.errors?.['required']">Email is required.</div>
        <div *ngIf="emailField.errors?.['email']">Invalid email format.</div>
      </div>

        <button type="submit" >Submit</button>
        
      </form>
      </ng-container>
      <ng-template #thankYou>
      <div class="form-field full-width">
        <label for="email">Enter OTP sent to your email</label>
        <input type="text" [(ngModel)]="otp" id="otp" placeholder="e.g. 6 digits OTP" />
        <p class="resend-text">
           Didn't receive the OTP?
          <a style="cursor: pointer; color: #473acb;">Resend OTP</a>
        </p>
      </div>
      <button type="submit" (click)="sendOtp()" class="submit-button">Next</button>
    
      </ng-template>
    </div>
      <div *ngIf="loginError" class="error-message">
          {{ loginError }}
      </div>
    </div>
    <div class="footer-links">
      
      <a href="#" class="footer-inner">Customer Support</a>
      <p style="padding-left: 5px;padding-right: 5px;">&nbsp;</p>
      <a href="#" class="footer-inner">Terms of Service</a>
    </div>
  </div>
  
</div>
