<div class="container">
  <div class="left-panel">
    <div class="branding">
      
      <h1>More Winning, No Hassles!</h1>
    </div>
    <div class="features">
      <div class="feature-box">
        <h3>Collect Documents</h3>
        <p>From known and unknown collaborators worldwide</p>
      </div>
      <div class="feature-box">
        <h3>Seamless Project Management</h3>
        <p>Track, approve, and download documents on a click.</p>
      </div>
      <div class="feature-box">
        <h3>Work in Teams</h3>
        <p>Work in teams of two or more for bigger projects.</p>
      </div>
      <div class="feature-box">
        <h3>Free Submissions</h3>
        <p>Collaborators submit their documents free of any cost.</p>
      </div>
      <div class="feature-box">
        <h3>Security and Privacy</h3>
        <p>Cloud-based secure application for global access and peace of mind</p>
      </div>
    </div>
  </div>
  <div class="right-panel"><div class="form-box">
    <a href="/"><img _ngcontent-ng-c2215438375="" src="8cbac377-06cb-4b50-b3ab-c5c763c7a580.png" alt="DashingDox Logo" class="logo1"></a>
    <h2>Join <strong>DashDoxs</strong></h2>
    <p class="subtext">
      Already Have an Account? <a href="/sign-in">Sign In</a>
    </p>

    <form *ngIf="currentStep === 1" #form="ngForm" (ngSubmit)="completeStep1(form)">
      <div class="form-row">
        <div class="form-field">
          <label for="firstName">First Name</label>
          <input type="text" [(ngModel)]="firstName" name="firstName" required #firstNameField="ngModel" placeholder="e.g. John"  />
        <div class="error" *ngIf="firstNameField.invalid && firstNameField.touched">
        First name is required.
        </div>
        </div>
        <div class="form-field">
          <label for="lastName">Last Name</label>
          <input type="text" [(ngModel)]="lastName" name="lastName" required #lastNameField="ngModel" placeholder="e.g. Lonado" />
        <div class="error" *ngIf="lastNameField.invalid && lastNameField.touched">
        Last name is required.
        </div></div>
      </div>

      <div class="form-row">
        <div class="form-field">
          <label for="designation">Designation</label>
          <input [(ngModel)]="designation" id="designation" name="designation" required #designationField="ngModel" placeholder="e.g. Professor"/>
          
          <div class="error" *ngIf="designationField.invalid && designationField.touched">
            Designation is required.
          </div>
        </div>
        <div class="form-field">
          <label for="organization">Organization</label>
          <input type="text" id="organization" placeholder="e.g. Clemnson University" [(ngModel)]="organization" name="organization" required #organizationField="ngModel" />
        <div class="error" *ngIf="organizationField.invalid && organizationField.touched">
            Organization is required.
          </div>
        </div>
      </div>

      <div class="form-field full-width">
        <label for="email">Email Address</label>
        <input type="email" [(ngModel)]="email" name="email" required email #emailField="ngModel" placeholder="e.g. John@youremail.com" />
      <div class="error" *ngIf="emailField.invalid && emailField.touched">
        <div *ngIf="emailField.errors?.['required']">Email is required.</div>
        <div *ngIf="emailField.errors?.['email']">Invalid email format.</div>
      </div>
      </div>

      <button type="submit" class="submit-button">Next</button>
    </form>
    <form *ngIf="currentStep === 2" (ngSubmit)="completeStep2()">
      <div class="form-field full-width">
        <label for="email">Enter OTP sent to your email</label>
        <input type="text" id="otp" [(ngModel)]="otp" placeholder="e.g. 6 digits OTP" [ngModelOptions]="{standalone: true}"/>
        <label for="text">Didn't you receive the OTP? Resend OTP</label>
      </div>

      <button type="submit" class="submit-button">Next</button>
    </form>
    <form *ngIf="currentStep === 3"  (ngSubmit)="completeStep3()" #signupForm="ngForm" novalidate>
      <label for="password">Set New Password</label>
      <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="e.g. 11 Digits" />

      <label for="confirmPassword">Confirm Password</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="e.g. 11 Digits" />
      <div class="error" *ngIf="submitted && password !== confirmPassword">
        Passwords do not match.
      </div>
      <div class="checkbox">
        <input type="checkbox" [(ngModel)]="acceptedTerms"  name="acceptedTerms" id="terms" required />
        <label for="terms">
          I accept the <a href="#">Terms & Conditions</a>
        </label>
      </div>
      <div class="error" *ngIf="submitted && !acceptedTerms">
        You must accept the Terms & Conditions.
      </div>

      <button type="submit" class="sign-up">Sign Up</button>

      <div class="password-rules">
        <p><strong>Password Requirements:</strong></p>
        <ol>
          <li>Must be at least 11 characters long.</li>
          <li>Include one uppercase and one lowercase letter.</li>
          <li>Must contain at least one number.</li>
          <li>Include at least one special character .</li>
        </ol>
      </div>
    </form>
  </div></div>
</div>
