<aside class="latest-activity">
    <h2>Latest Activity</h2>
    <div class="activity-item">
      <p><strong>Task:</strong> Design the new navigation menu</p>
      <small>Updated 2 hours ago</small> <span class="writer"> by Jhon Doe</span>
    </div>
    <div class="activity-item">
      <p><strong>Task:</strong> Finalize subscription plan details</p>
      <small>Updated 4 hours ago</small><span class="writer"> by Jhon Doe</span>
    </div>
    <div class="activity-item">
      <p><strong>Task:</strong> Improve the account dashboard</p>
      <small>Updated 1 day ago</small><span class="writer"> by Jhon Doe</span>
    </div>
  </aside>