<aside class="sidebar">
    <div class="profile">
      
      <div class="profile-info">
        <h4 class="profile-info-name">{{userProfile?.name}}</h4>
        <p class="profile-info-type"></p>
        <img src="logout.png" class="logout" (click)="onLogout()" />
      </div>
    </div>
    <div class="menu">
      <div class="menu-section">
        <h5>Navigation</h5>
        <ul>
          <li><span class="material-symbols-outlined custom-icon">
            home
            </span><span class="teams"><a [routerLink]="['/dashboard']">Dashboard</a></span></li>
          
          <li><span class="material-symbols-outlined custom-icon">group</span>
            <a [routerLink]="['projectlist']">Solo Projects</a>
            
          </li>
          <li>
            <span class="material-symbols-outlined custom-icon">analytics</span>
            <span class="teams"><a [routerLink]="['project/joinproject']">Join External Projects</a></span></li>
          <li><span class="material-symbols-outlined custom-icon">notifications_none</span>
            <span class="teams"><a [routerLink]="['Notification']">Notifications</a></span></li>
          <li class="active">
            <span class="material-symbols-outlined custom-icon">settings</span>
            <span class="teams"><a [routerLink]="['Settings']">Settings</a></span></li>
        </ul>
      </div>
      <div class="menu-section">
        <h5>Finance</h5>
        <ul>
          <li>
            <span class="material-symbols-outlined custom-icon">sell</span>
            <a [routerLink]="['pricingplan']"><span class="teams">Pricing Plan</span></a>
          </li>
          <li><span class="material-symbols-outlined custom-icon">
            receipt_long
            </span><span class="teams">Invoices</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="cloud-storage">
      <div class="storage-info">
        <span class="material-symbols-outlined">cloud</span>
        <span class="teams">Cloud Storage</span>
      </div>
      <div class="storage-bar">
        <div class="storage-used" style="width: 0%;"></div>
      </div>
      <div class="storage-details">
        <span>0 GB of 15 GB used</span>
        <a href="#" class="upgrade-link">Upgrade</a>
      </div>
    </div>
  </aside>