<aside class="sidebar">
    <div class="profile">
      <img src="profile-pic.png" alt="Profile Picture" class="profile-pic" />
      <div class="profile-info">
        <h4 class="profile-info-name">Khinkal Atomadze</h4>
        <p class="profile-info-type">Platinum Account</p>
      </div>
    </div>
    <div class="menu">
      <div class="menu-section">
        <h5>Navigation</h5>
        <ul>
          <li><span class="material-symbols-outlined custom-icon">
            home
            </span><span class="teams"><a [routerLink]="['/']">Dashboard</a></span></li>
          <li><span class="material-symbols-outlined custom-icon">group</span>
            <a [routerLink]="['/teams']">Team Projects</a>
            
          </li>
          <li><span class="material-symbols-outlined custom-icon">group</span>
            <a [routerLink]="['projectlist']">Individual Projects</a>
            
          </li>
          <li>
            <span class="material-symbols-outlined custom-icon">analytics</span>
            <span class="teams">Join Projects</span></li>
          <li><span class="material-symbols-outlined custom-icon">notifications_none</span>
            <span class="teams"><a [routerLink]="['Notification']">Notification</a></span></li>
          <li class="active">
            <span class="material-symbols-outlined custom-icon">settings</span>
            <span class="teams"><a [routerLink]="['Settings']">Settings</a></span></li>
        </ul>
      </div>
      <div class="menu-section">
        <h5>Finance</h5>
        <ul>
          <li>
            <span class="material-symbols-outlined custom-icon">sell</span>
            <a [routerLink]="['pricingplan']"><span class="teams">Pricing Plan</span></a>
          </li>
          <li>
            <span class="material-symbols-outlined custom-icon">wallet</span>
            <span class="teams">Payments</span>
          </li>
          <li><span class="material-symbols-outlined custom-icon">
            receipt_long
            </span><span class="teams">Invoices</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="cloud-storage">
      <div class="storage-info">
        <span class="material-symbols-outlined">cloud</span>
        <span class="teams">Cloud Storage</span>
      </div>
      <div class="storage-bar">
        <div class="storage-used" style="width: 80%;"></div>
      </div>
      <div class="storage-details">
        <span>12.3 GB of 15 GB used</span>
        <a href="#" class="upgrade-link">Upgrade</a>
      </div>
    </div>
  </aside>