<div class="container" *ngIf="showContainer">
    <h2>Assign Documents</h2>
  
    <form >
      <div *ngIf="normalizedDocuments.length">
      <div *ngFor="let doc of normalizedDocuments" class="document-section" >
        <h4>{{ doc.fieldName }} </h4>
        <label>Assign Collaborator</label>
        <div class="collaborator-input">
          <ng-container *ngFor="let user of getAssignedUsers(doc.fieldName)">
            <span class="collaborator-chip">
              <img src="https://i.pravatar.cc/4" alt="avatar" />
              {{ user.name }}
              <button type="button" (click)="removeCollaborator(doc.fieldName, user)">×</button>
            </span>
          </ng-container>
          <input type="text"  [(ngModel)]="searchText[doc.fieldName]"  (ngModelChange)="onSearchInput($event, doc.fieldName)"  [name]="'search_' + doc.fieldName"  placeholder="Search collaborator..."/>
          <div class="dropdown" *ngIf="filteredUsers[doc.fieldName]?.length">
            <div *ngFor="let user of filteredUsers[doc.fieldName]; trackBy: trackByUserId" (click)="addCollaborator(doc.fieldName, user)" class="dropdown-item">
              <img src="https://i.pravatar.cc/4" alt="avatar" />
              <div>
                <div>{{ user.name }}</div>
                <small>{{ user.email }}</small>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  
      <div class="actions">
        <button type="button" (click)="onCancel()">Cancel</button>
        <button type="submit" (click)="Create()">Create</button>
      </div>
    </form>
</div>
  <app-project-modal [showModal]="showModal" [projectId]="this.projectId" (close)="showModal = false"></app-project-modal>
  <app-pricingplan *ngIf="showPricing" ></app-pricingplan>
<!-- Confirmation Dialog -->
<div *ngIf="showDialog" class="dialog-backdrop">
    <div class="dialog-box">
      <p>Are you sure you want to create a project?</p>
    <div class="confirm">
        <button class="confirm-btn" (click)="confirm()">Yes</button>
        <button class="cancel" (click)="cancel()">No</button>
    </div>
    </div>
  </div>
 <div *ngIf="showSubscribe" class="dialog-backdrop">
  <div class="dialog-box">
    <p>To start a project, please subscribe.</p>
    <div class="confirm">
      <button class="confirm-btn" (click)="goToPricing()">Continue</button>
      <button class="cancel" (click)="cancel()">No</button>
    </div>
  </div>
</div>