<div class="container">
  <div class="left-panel">
    <div class="branding">
      <img src="8cbac377-06cb-4b50-b3ab-c5c763c7a580.png" alt="Dashdoxs Logo" class="logo" />
      <h1>Collect Documents, Beat Deadlines, <br />Win Grants.</h1>
    </div>
    <div class="features">
      <div class="feature-box">
        <h3>Collect Documents</h3>
        <p>From known and unknown collaborators worldwide</p>
      </div>
      <div class="feature-box">
        <h3>Seamless Project Management</h3>
        <p>Track, approve, and download documents on a click.</p>
      </div>
      <div class="feature-box">
        <h3>Works in Teams</h3>
        <p>Work in teams of two or more for bigger projects.</p>
      </div>
      <div class="feature-box">
        <h3>Free Submissions</h3>
        <p>Collaborators submit their documents free of any cost.</p>
      </div>
      <div class="feature-box">
        <h3>Security and Privacy</h3>
        <p>Cloud-based secure application for global access and peace of mind</p>
      </div>
    </div>
  </div>
  <div class="right-panel">
    <div class="form-box">
    
    <p class="subtext">
      Already Have an Account? <a href="/sign-in">Sign In</a>
    </p>
    <div *ngIf="tokenValid; else invalidToken">
    <form (ngSubmit)="passwordReset()" #signupForm="ngForm" novalidate>
      <label for="password">Set New Password</label>
      <input type="password" [(ngModel)]="password" name="password" id="password" placeholder="e.g. 11 Digits" />

      <label for="confirmPassword">Confirm Password</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="e.g. 11 Digits" />
      <div class="error" *ngIf="submitted && password !== confirmPassword">
        Passwords do not match.
      </div>
      <div class="checkbox">
        <input type="checkbox" [(ngModel)]="acceptedTerms"  name="acceptedTerms" id="terms" required />
        <label for="terms">
          I accept the <a href="#">Terms & Conditions</a>
        </label>
      </div>
      <div class="error" *ngIf="submitted && !acceptedTerms">
        You must accept the Terms & Conditions.
      </div>

      <button type="submit" class="sign-up">Sign Up</button>
        <div *ngIf="resetMessage" class="reset-message">
        {{ resetMessage }}
        </div>
      <div class="password-rules">
        <p><strong>Password Requirements:</strong></p>
        <ol>
          <li>Must be at least 11 characters long.</li>
          <li>Include one uppercase and one lowercase letter.</li>
          <li>Must contain at least one number.</li>
          <li>Include at least one special character .</li>
        </ol>
      </div>
    </form></div>
    <ng-template #invalidToken>
        <p>The reset link is invalid or expired.</p>
            <a routerLink="/sign-in">Return to login</a>
    </ng-template>
  </div></div>
</div>