<div class="container">
    <h2 class="title">{{ title }}</h2>
    <p class="subtitle">{{ subtitle }}</p>
  
    <div class="card">
      <img src="{{ icon }}" alt="Team Icon" class="icon">
      <h3 class="card-title">Create your first team now</h3>
      <p class="card-text">
        Kickstart your journey by creating your first team, bringing members together, 
        and collaborating efficiently on projects and research.
      </p>
      <button class="create-button"><a routerLink="/teams/teaminformation">Create New Team</a></button>
    </div>
</div>
