<div class="container" *ngIf="!showPricingPlan"> 
    <div class="form-group"><label for="docCount" class="label">Number of Expected Collaborator</label>
    <div class="input-group"><input type="number" id="docCount" class="input-box" [(ngModel)]="collabCount" min="1" value="2">
    <button class="add-button" (click)="confirm()">Add</button></div></div>
</div>
<ng-container *ngIf="showPricingPlan">
<app-pricingplan ></app-pricingplan>
</ng-container>
<!-- Confirmation Dialog -->
<div *ngIf="showDialog">
 <div *ngIf="showSubscribe" class="dialog-backdrop">
  <div class="dialog-box">
    <p>To start a project, please subscribe.</p>
    <div class="confirm">
      <button class="confirm-btn" (click)="goToPricing()">Continue</button>
      <button class="cancel" (click)="cancel()">No</button>
    </div>
  </div>
</div>
</div>

    <div class="dialog-box" *ngIf="isSubscribed && showDialog">
      <p>Are you sure you want to create a project?</p>
    <div class="confirm">
        <button class="confirm-btn" (click)="addDocuments()">Yes</button>
        <button class="cancel" (click)="cancel()">No</button>
    </div>
    </div>
 
  