
<div class="modal-overlay" *ngIf="showModal">
  <span class="close-btn" (click)="closeModal()">&times;</span>
    <div class="modal-content">
        
        <div class="icon">
            <img src="SuccessIcon.png" alt="Success">
        </div>
        <h2>Team Project Created</h2>
        <div class="project">Project ID: 355202323 </div>
        <div class="project">A Transformer Based Approach To Detect Suicidal Ideation</div>
        
        <div class="details">
            <div><strong>Project Scope</strong> <br> Private</div>
            <div><strong>Participants</strong> <br> 12</div>
        </div>
      <div class="footer">
        <button class="cancel" (click)="closeModal()">Cancel</button>
        <button class="add-button" (click)="projectDetail()">Go to Project</button>
      </div>
    </div>
  </div>
  