
<div class="modal-overlay" *ngIf="showModal">
  <span class="close-btn" (click)="projectDetail()">&times;</span>
    <div class="modal-content">
        
        <div class="icon">
            <img src="SuccessIcon.png" alt="Success">
        </div>
        <h2>Team Project Created</h2>
        <div class="project">Project ID: {{projectId}} </div>
        <div class="project">{{projectName}} </div>
        
        <div class="details">
            <div><strong>Project Scope</strong> <br> {{projectScope}} </div>
            <div><strong>Participants</strong> <br> {{12}}</div>
        </div>
      <div class="footer">
        <button class="add-button" (click)="projectDetail()">Go to Project</button>
      </div>
    </div>
  </div>
  