<div class="project-card">
  <div class="menu" (click)="showModal = true" style="cursor: pointer;">⋮</div>
  
  <a [routerLink]="['/projects', project.ID]">
    <div class="card-header">{{ project.ProjectName }}</div>
    <div class="info">
      <div class="rating">
        <p class="icon"><i class="material-icons" style="color: lightgray;">task</i></p>
        <p>{{ project.docCount }}/{{ project.docCount }}</p>
      </div>
      <div class="rating">
        <p class="icon"><i class="material-icons" style="color: lightgray;">message</i></p>
        <p>{{ project.collabcount }}</p>
        <i class="material-icons" style="color: lightgray; padding-left: 94px;">people</i>
        <p>5</p>
      </div>
    </div>
    <div class="info">
      <div class="rating">
        <p><i class="material-icons" style="color: lightgray;">calendar_today</i></p>
        <p class="projcal">{{ project.startDate | date:'MM/dd/yyyy' }} - {{ project.endDate | date:'MM/dd/yyyy' }}</p>
      </div>
      <div class="rating">
        <p class="visibility" [ngClass]="project.visibility.toLowerCase()">{{ project.visibility }}</p>
        <p><img src="image-owner.png" alt="Owner"></p>
      </div>
    </div>
  </a>
</div>

<!-- Modal -->
<div id="projectModal" class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <div class="menu-item" (click)="editProject()">
      <span class="icon">&#9776;</span>
      <span class="text">Project Setting</span>
    </div>
    <div class="menu-item delete" (click)="confirmDelete()">
      <span class="icon"><i class="material-icons" style="font-size: 10px;">delete</i></span>
      <span class="text">Delete Project</span>
    </div>
    <button class="close-btn" (click)="showModal = false">×</button>
  </div>
</div>
