<div class="card">
    <h2 class="card-title">{{ researchTeam.name }}</h2>
    <div class="info-container">
      <div class="info-box">
        <strong>Total Projects</strong> <br> {{ researchTeam.totalProjects }}
      </div>
      <div class="info-box">
        <strong>Members</strong> <br> {{ researchTeam.members }}
      </div>
      <div class="info-box">
        <strong>Type</strong> <br> 🧪 {{ researchTeam.type }}
      </div>
      <div class="info-box">
        <strong>Author</strong> <br> 👤 {{ researchTeam.author }}
      </div>
      <div class="info-box">
        <strong>Created on</strong> <br> 📅 {{ researchTeam.createdOn }}
      </div>
    </div>
    <div class="description">
      <strong>Team Description</strong>
      <p>{{ researchTeam.description }}</p>
    </div>
  </div>
  